<section class="content">

	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Test Title</h3>
		</div>
		<!-- /.box-header -->
		<!-- form start -->
		<form role="form" ref="uploadForm" id="uploadForm" action="/test/done/58246ceedcba0f326cc6aa70" method="get">
			<div class="box-body">
				<!--1 -->
				<div class="form-group col-md-6">
					<label for="answer1">1. When and where was the First Olympic games held</label>
					<input type="text" class="form-control" placeholder="Just the keywords" name="answer1">
				</div>
				<!--2 -->
				<div class="form-group col-md-6">
					<label for="answer2">2. How long was the first Olympic game?</label>
					<div class="radio">
						<label>
							<input type="radio" name="answer2" id="answer2" value="option1">
							300 yards
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer2" id="answer2" value="option2">
							100 yards
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer2" id="answer2" value="option3">
							500 yards
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer2" id="answer2" value="option4">
							200 yards
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer2" id="answer2" value="option5">
							5000 yards
						</label>
					</div>
				</div>
				<!--3 -->
				<div class="form-group col-md-6">
					<label for="answer3">3. Whose and when devotion was to promote the modern Olympic games?</label>
					<div class="radio">
						<label>
							<input type="radio" name="answer3" id="answer3" value="option1">
							Louis Pasteur in 1895
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer3" id="answer3" value="option2">
							Blaise Pascal in 1623
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer3" id="answer3" value="option3">
							Pierre-Simon Laplace in 1827
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer3" id="answer3" value="option3">
							Baron Pierre de Coubertin 1891
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer3" id="answer3" value="option3">
							All answers are correct
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer3" id="answer3" value="option3">
							None of the above-mentioned is true
						</label>
					</div>

					
				</div>
				<!--4 -->
				<div class="form-group col-md-6">
					<label for="answer4">4. What is the name of the principal organization responsible for the staging of the Game? </label>
					<input type="text" class="form-control" placeholder="Just the keywords" name="answer4">
				</div>
				<!--5 -->
				<div class="form-group col-md-6">
					<label for="answer5">5. What is the Olympic moto and its symbol? </label>
					<input type="text" class="form-control" placeholder="Just the keywords" name="answer5">
				</div>
				<!--6 -->
				<div class="form-group col-md-6">
					<label for="answer6">6. Who plays the important roles?</label>
					<div class="radio">
						<label>
							<input type="radio" name="answer6" id="answer6" value="option1">
							The organising committee of each city
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer6" id="answer6" value="option1">
							International sports federations
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer6" id="answer6" value="option1">
							National Olympic committee
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer6" id="answer6" value="option1">
							None of the above-mentioned is true
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer6" id="answer6" value="option1">
							All the answers are true
						</label>
					</div>
				</div>
				<!--7 -->
				<div class="form-group col-md-6">
					<label for="answer7">7. When did, the IOC decide to change the format of two games in the same year and what are those two?</label>
					<div class="radio">
						<label>
							<input type="radio" name="answer7" id="answer7" value="option1">
							1997 Winter and fall games
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer7" id="answer7" value="option1">
							1940 fall and summer games
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer7" id="answer7" value="option1">
							1994 fall and spring games
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer7" id="answer7" value="option1">
							1990 summer and winter games
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="answer7" id="answer7" value="option1">
							1994 summer and winter games
						</label>
					</div>
				</div>
				<!--8 -->
				<div class="form-group col-md-6">
					<label for="answer8">8. When and which new sport was announced added to the games? </label>
					<input type="text" class="form-control" placeholder="Just the keywords" name="answer8">
				</div>
				<!--8 -->
				<div class="form-group col-md-6">
					<label for="answer9">9. When where and which sport was removed from the 2012 Olympics?  </label>
					<input type="text" class="form-control" placeholder="Just the keywords" name="answer9">
				</div>

			</div>
			<!-- /.box-body -->

			<div class="box-footer">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>


</section>

<aside class="control-sidebar control-sidebar-dark">
	<!-- Create the tabs -->
	<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
		<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
		<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<!-- Home tab content -->
		<div class="tab-pane" id="control-sidebar-home-tab">
			<h3 class="control-sidebar-heading">Recent Activity</h3>
			<ul class="control-sidebar-menu">
				<li>
					<a href="javascript:void(0)">
						<i class="menu-icon fa fa-birthday-cake bg-red"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

							<p>Will be 23 on April 24th</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="menu-icon fa fa-user bg-yellow"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

							<p>New phone +1(800)555-1234</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

							<p>nora@example.com</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="menu-icon fa fa-file-code-o bg-green"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

							<p>Execution time 5 seconds</p>
						</div>
					</a>
				</li>
			</ul>
			<!-- /.control-sidebar-menu -->

			<h3 class="control-sidebar-heading">Tasks Progress</h3>
			<ul class="control-sidebar-menu">
				<li>
					<a href="javascript:void(0)">
						<h4 class="control-sidebar-subheading">
							Custom Template Design
							<span class="label label-danger pull-right">70%</span>
						</h4>

						<div class="progress progress-xxs">
							<div class="progress-bar progress-bar-danger" style="width: 70%"></div>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<h4 class="control-sidebar-subheading">
							Update Resume
							<span class="label label-success pull-right">95%</span>
						</h4>

						<div class="progress progress-xxs">
							<div class="progress-bar progress-bar-success" style="width: 95%"></div>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<h4 class="control-sidebar-subheading">
							Laravel Integration
							<span class="label label-warning pull-right">50%</span>
						</h4>

						<div class="progress progress-xxs">
							<div class="progress-bar progress-bar-warning" style="width: 50%"></div>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<h4 class="control-sidebar-subheading">
							Back End Framework
							<span class="label label-primary pull-right">68%</span>
						</h4>

						<div class="progress progress-xxs">
							<div class="progress-bar progress-bar-primary" style="width: 68%"></div>
						</div>
					</a>
				</li>
			</ul>
			<!-- /.control-sidebar-menu -->

		</div>
		<!-- /.tab-pane -->

		<!-- Settings tab content -->
		<div class="tab-pane" id="control-sidebar-settings-tab">
			<form method="post">
				<h3 class="control-sidebar-heading">General Settings</h3>

				<div class="form-group">
					<label class="control-sidebar-subheading">
                Report panel usage
                <input type="checkbox" class="pull-right" checked>
              </label>

					<p>
						Some information about this general settings option
					</p>
				</div>
				<!-- /.form-group -->

				<div class="form-group">
					<label class="control-sidebar-subheading">
                Allow mail redirect
                <input type="checkbox" class="pull-right" checked>
              </label>

					<p>
						Other sets of options are available
					</p>
				</div>
				<!-- /.form-group -->

				<div class="form-group">
					<label class="control-sidebar-subheading">
                Expose author name in posts
                <input type="checkbox" class="pull-right" checked>
              </label>

					<p>
						Allow the user to show his name in blog posts
					</p>
				</div>
				<!-- /.form-group -->

				<h3 class="control-sidebar-heading">Chat Settings</h3>

				<div class="form-group">
					<label class="control-sidebar-subheading">
                Show me as online
                <input type="checkbox" class="pull-right" checked>
              </label>
				</div>
				<!-- /.form-group -->

				<div class="form-group">
					<label class="control-sidebar-subheading">
                Turn off notifications
                <input type="checkbox" class="pull-right">
              </label>
				</div>
				<!-- /.form-group -->

				<div class="form-group">
					<label class="control-sidebar-subheading">
                Delete chat history
                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
              </label>
				</div>
				<!-- /.form-group -->
			</form>
		</div>
		<!-- /.tab-pane -->
	</div>
</aside>
<div class="control-sidebar-bg"></div>